<ul
  id="mobile-menu-list"
  class="mobile-menu-list z-20 p-[30px] bg-indigo-900 w-screen -left-6 absolute top-full"
  x-show="$store.global.isMobileMenuVisible"
  role="menu"
>
  {% for link in linklists['main-menu'].links %}
    <li class="mobile-menu-item" role="presentation">
      <a href="{{ link.url }}" role="menuitem">{{ link.title }}</a>
    </li>
  {% endfor %}
  <li></li>
</ul>

<style>
  .mobile-menu-list li a {
    display: block;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
</style>
