{% schema %}
{
  "name": "Featured Collection",
  "class": "section-featured-collection",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}

<div class="px-6 md:px-8 py-12">
  {% if section.settings.featured_collection != blank %}
    <div class="featured-product-grid-inner container">
      <h2 class="mb-12">Featured Product Grid</h2>
      <div class="grid-wrapper">
        {% assign featured_collection = section.settings.featured_collection %}
        <div class="product-grid">
          {% for product in featured_collection.products %}
            {% render 'product-grid-item', prod: product %}
          {% endfor %}
        </div>
      </div>
    </div>

    <style>
      .featured-product-grid {
        padding: 20px;
      }

      .featured-product-grid h2 {
        margin-bottom: 40px;
      }

      .product-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }

      .featured-product-grid .pagination-nav {
        margin-top: 40px;
      }

      .featured-product-grid .pagination-nav .pagination {
        display: flex;
        gap: 10px;
        margin: auto;
        max-width: max-content;
      }
    </style>
  {% endif %}
</div>
