{% schema %}
{
  "name": "footer",
  "class": "footer",
  "tag": "footer",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.footer.settings.paragraph"
    }
  ]
}
{% endschema %}

<div class="footer-inner shell">
    <div>
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  
    <small>
      &copy; {{ "now" | date: "%Y" }} Slayed Starter Theme
    </small>
    <div>
      Alpine Demo Output (Should be removed in production)
      <span x-test-directive="Hello World">Test Directive</span>
      <span x-text="$money(2000, 'amount')"></span>
    </div>
</div>

<style>
  footer {
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-inner {
  }
</style>
