{% schema %}
  {
    "name": "footer",
    "class": "footer",
    "tag": "footer",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.footer.settings.paragraph"
      }
    ]
  }
{% endschema %}

<div class="px-6 md:px-8 py-12">
  <div class="container">
    <div>
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  
    <small>
      &copy; {{ "now" | date: "%Y" }} Slayed Starter Theme
    </small>
    <div x-data="{ price: 200000 }">
      Alpine Demo Output (Should be removed in production)
      <span x-text="$money(price, 'amount')"></span>
    </div>
  </div>
</div>
