{% schema %}
{
  "name": "Main Collection Section",
  "class": "section-main-collection",
  "tag": "section"
}
{% endschema %}

<div class="px-6 md:px-8 py-12">
  <div class="collection-inner container">
    <h2 class="mb-12 max-w-max mx-auto">
      {{ collection.title }}
    </h2>
    <div class="grid-wrapper">
      {%- paginate collection.products by 12 -%}
        <div class="product-grid">
          {% for prod in collection.products %}
            {% render 'product-grid-item', prod: prod %}
          {% endfor %}
        </div>
  
        {% render 'pagination-navigation', paginate: paginate %}
      {% endpaginate %}
    </div>
  </div>
  
  <style>
    .collection h1 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .collection {
      padding: 20px;
    }
  
    .product-grid {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  
    .featured-product-grid .pagination-nav {
      margin-top: 40px;
    }
  
    .featured-product-grid .pagination-nav .pagination {
      display: flex;
      gap: 10px;
      margin: auto;
      max-width: max-content;
    }
  </style>
</div>

