{% schema %}
{
  "name": "Predictive Search",
  "class": "site-header w-full shadow-md p-shell fixed top-0 z-30 bg-white",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "prompt_text",
      "label": "Prompt Text",
      "default": "What can we help you find?"
    }
  ]
}
{% endschema %}

<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<predictive-search
  x-data
  x-cloak
  x-show="$store.global.isPredictiveSearchVisible"
  x-trap.inert="$store.global.isPredictiveSearchVisible"
  x-transition.opacity
  aria-modal="true"
  @keyup.escape="$store.global.isPredictiveSearchVisible = false"
>
  <div
    id="predictive-search-form-wrapper"
    class="w-full bg-white fixed inset-x-0 top-0 z-40 pt-8 pb-14 shadow-md"
  >
    {% if section.settings.prompt_text %}
      <h2 class="text-base !font-normal max-w-max mx-auto font-palatino mb-3">
        {{ section.settings.prompt_text }}
      </h2>
    {% endif %}
    <form
      action="{{ routes.search_url }}"
      method="get"
      role="search"
      class="w-full max-w-[422px] mx-auto"
      @click.outside="$store.global.isPredictiveSearchVisible = false"
    >
      <div class="flex gap-x-3 w-full relative">
        <input
          id="predictive-search-input"
          class="slayed-input w-full"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
        >
        <label for="predictive-search-input" class="sr-only"> Search </label>
        <button
          for="predictive-search-input"
          class="pill-button"
        >
          Search
        </button>

        <button
          type="button"
          class="absolute -right-[15px] top-1/2 -translate-y-1/2 translate-x-full"
          @click="$store.global.isPredictiveSearchVisible = false"
        >
          <span class="sr-only">Close</span>
          {% render 'icon-close-x' %}
        </button>
      </div>
      <input name="options[prefix]" type="hidden" value="last">
      <div id="predictive-search-target" tabindex="-1"></div>
    </form>
  </div>
</predictive-search>