{% schema %}
{
  "name": "Main List Collections",
  "class": "section-main-list-collections",
  "tag": "section"
}
{% endschema %}

{% unless collection %}
  {% assign collection = collections.all %}
{% endunless %}

<div class="px-6 md:px-8 py-12">
  <div class="list-collections-inner container">
    <h1 class="mb-8 mx-auto max-w-max">
      Collections
    </h1>
    {% render 'collections-list' %}
  
    <div class="grid-wrapper">
      {%- paginate collection.products by 12 -%}
        <div class="product-grid grid grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4">
          {% for prod in collection.products %}
            {% render 'product-grid-item', prod: prod %}
          {% endfor %}
        </div>

        <div class="mt-10 [&_.pagination]:mx-auto [&_.pagination]:flex [&_.pagination]:max-w-max [&_.pagination]:gap-2.5">
          {% render 'pagination-navigation', paginate: paginate %}
        </div>
      {% endpaginate %}
    </div>
  </div>
</div>
