{% schema %}
  {
    "name": "Password Section",
    "class": "section-main-password",
    "tag": "section",
    "settings": []
  }
{% endschema %}

<section>
  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}

    <div className="password">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>

    <div className="submit">
      <input type="submit" value="Sign in" />
    </div>
  {% endform %}
</section>