{% schema %}
  {
    "name": "Default Page Section",
    "class": "section-main-page",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "featured_image_esc",
        "label": "Featured Image"
      }
    ]
  }
{% endschema %}

<div class="px-6 md:px-8">
  <div class="container py-6 md:py-8">

    <div class="py-8" x-data="{ url: 'https://google.com' }">
      <ul id="source-container">
        <li>source 1</li>
        <li>source 2</li>
        <li>source 3</li>
      </ul>
      <button @click="$wire(
          null, 
          '#source-container', 
          '#target-container', 
          'outerHTML'
        )">
        Click me
      </button>
      <ul id="target-container">
        <li>target 1</li>
        <li>target 2</li>
        <li>target 3</li>
      </ul>
    </div>

    <div class="rte">
      <h1>{{ page.title }}</h1>
      <div>{{ page.content }}</div>
    </div>
  </div>
</div>