@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    font-size: theme('fontSize.5xl');
    font-weight: theme('fontWeight.bold');
  }
  h2 {
    font-size: theme('fontSize.4xl');
    font-weight: theme('fontWeight.bold');
  }
  h3 {
    font-size: theme('fontSize.2xl');
    font-weight: theme('fontWeight.bold');
  }
  a {
    color: theme('colors.cloud-burst.500');
    font-weight: theme('fontWeight.bold');
  }
}
