@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  a {
    @apply font-bold;
    color: var(--color-cloud-burst-500);
  }
}
