@layer components {
  .skip-to-content-link {
    @apply absolute z-50 px-4 py-2 text-white bg-cloud-burst rounded-lg shadow-lg;
  }

  .skip-to-content-link:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
  }

  .btn {
    @apply py-3 px-12 bg-cloud-burst-500 hover:bg-cloud-burst-600 text-white rounded-full transition;
  } 

  .pill-button {
    @apply bg-cloud-burst-500 text-white px-4 rounded-lg cursor-pointer;
  }

  .slayed-input {
    @apply py-2 px-4 border border-gray-500 rounded-lg;
  }

  .site-promo-bar-tw-component {
    @apply flex px-4 py-1 top-0 w-full items-center justify-center bg-woodland-500 text-white;
  }
}