@layer utilities {
  .container {
    margin-inline: auto;

    @variant sm {
      max-width: 640px;
    }

    @variant md {
      max-width: 768px;
    }

    @variant lg {
      max-width: 1024px;
    }

    @variant xl {
      max-width: 1280px;
    }

    @variant 2xl {
      max-width: calc(1536px + 4rem);
    }
  }

  .pin {
    inset-block: --spacing(0);
    inset-inline: --spacing(0);
  }

  .pin-x {
    inset-inline: --spacing(0);
  }
}

@utility prose {
  max-width: none;
  :where(:not(.not-prose, .not-prose *)) {
    --tw-prose-body: var(--color-cloud-burst-400);
    --tw-prose-headings: var(--color-cloud-burst-50);
    --tw-prose-links: var(--color-woodland-500);

    &:where(a:hover) {
      --tw-prose-links: var(--color-woodland-200);
    }

    &:where(iframe) {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}
